<style type="text/css>
    .para1{
    background-color:darkblue;
    }
   h2{
   font-family:"Arial Black", Gadget, sans-serif;
   text-align:center;
   }
   .button{
     background-color:yellow;
     text-align:center;
     padding:10px;
     display:inline-block;
     cursor:pointer;
   }
   ul{
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
   }
</style>
